html {
    font-size: 16px;
    line-height: 1.5;
    body {
        font-family: 'Karla', sans-serif;
        line-height: 1.5;
        font-weight: 400;
        font-size: 18px;
        overflow-x: hidden;
        p {
            font-weight: 400;
            color: #898d98;
            font-size: 18px;
            line-height: 1.7;
        }
        &:last-child {
            margin-bottom: 0;
        }
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            font-weight: 700;
            line-height: 1.3;
        }
        a {
            color: #3b28ea;
            transition: all 0.3s ease-in-out;
            &:hover, &:focus {
                color: #4533eb;
                text-decoration: none;
            }
            &:focus {
                outline: none;
            }
        }
        img {
            max-width: 100%;
            height: auto;
        }
        ul,
        li {
            list-style: none;
            padding: 0;
            margin: 0;
        }
        b,
        strong {
            font-weight: 700;
        }
    }
}

  
 
  
 